[submodule "adflow"]
	path = adflow
	url = https://github.com/mdolab/adflow.git
[submodule "dafoam"]
	path = dafoam
	url = https://github.com/mdolab/dafoam.git
[submodule "idwarp"]
	path = idwarp
	url = https://github.com/mdolab/idwarp.git
[submodule "pygeo"]
	path = pygeo
	url = https://github.com/mdolab/pygeo.git
[submodule "pyhyp"]
	path = pyhyp
	url = https://github.com/mdolab/pyhyp.git
[submodule "pyoptsparse"]
	path = pyoptsparse
	url = https://github.com/mdolab/pyoptsparse.git
[submodule "baseclasses"]
	path = baseclasses
	url = https://github.com/mdolab/baseclasses.git
[submodule "multipoint"]
	path = multipoint
	url = https://github.com/mdolab/multipoint.git
[submodule "pyspline"]
	path = pyspline
	url = https://github.com/mdolab/pyspline.git
