*.pdf

# Ignore all mesh files, except the few we want to keep
*.cgns
!tutorial/wing/meshing/surface/wing_surf_L1.cgns
!tutorial/wing/meshing/volume/wing_vol_L3.cgns
!tutorial/wing/meshing/volume/wing_vol_L4.cgns
!tutorial/airfoil/meshing/n0012.cgns
!tutorial/overset/mesh/ONERA_M6_L3.cgns

.pre-commit-config.yaml
_build
.DS_Store
.vscode/*
make.bat
my_tutorial/
*.pyc
tutorial/intersection/INPUT/
tutorial/intersection/meshing/surface/
output/
